In [20]:
import pandas as pd
df=pd.read_excel('data.xlsx')
df['phone'] = df['number'].str.split(r',\s*')
df = df.explode('phone')
df = df.reset_index(drop=True)
df.to_excel('df.xlsx', index=False)
df

,link,name,category,number,phone
0,https://qarabazar.az/Apple-iPhone-larin-topdan...,Mrs kathleen corwin,NaN,"19016461295,85263154626",19016461295
1,https://qarabazar.az/Apple-iPhone-larin-topdan...,Mrs kathleen corwin,NaN,"19016461295,85263154626",85263154626
2,https://qarabazar.az/Wholesale-Suppliers-of-iP...,Mrs kathleen corwin,NaN,"19016461295,85263154626",19016461295
3,https://qarabazar.az/Wholesale-Suppliers-of-iP...,Mrs kathleen corwin,NaN,"19016461295,85263154626",85263154626
4,https://qarabazar.az/Sirga-adv147641.html,MÉ™tanÉ™t,NaN,"558900384, 55 890 03 84",558900384
...,...,...,...,...,...
3322,https://qarabazar.az/Yalniz-birbasa-kreditorla...,Broadlandsfincorp,NaN,95857575,NaN
3323,https://qarabazar.az/Dirnaq-ustasi-teleb-olunu...,Ay,NaN,77752777,NaN
3324,https://qarabazar.az/Ingilis-Dili-danisiq-klub...,Rovshan Mammaodv,NaN,6800406,NaN
3325,https://qarabazar.az/Kombi-temiri-kombi-ustasi...,Seymur,NaN,9067268,NaN
3326,https://qarabazar.az/Magazanin-ofisinde-operat...,Asim iÅŸÉ™dÃ¼zÉ™ltmÉ™,NaN,450,NaN